:root {
  --balck: rgb(40, 40, 40);
  --white: rgb(255, 255, 255);
}

/* GLOBAL */
body {
  margin: 0;
}

/* HEADER */
.header {
  background-color: var(--balck);
  color: var(--white);
  padding: 1rem;
  text-align: center;
}
.header h1 {
  font-size: 4rem;
}

/* MAIN */
.main {
  padding: 0 2rem 3rem 2rem;
}

/* INTRO */
.intro-container {
  margin: 2rem 0;
}

/* CHARDS */
.card-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-left: -1rem;
}
.card {
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px 2px rgb(139, 139, 139);
}
.card-title {
  padding: 0 1rem;
  margin: 1rem 0;
}
.card-image {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card-text {
  padding: 0 1rem;
  text-align: justify;
  margin: 1rem 0;
}
.footer {
  background-color: var(--balck);
  padding: 2rem;
  color: var(--white);
}

/* CHATBOT */
.chatbot-container {
  background-color: rgb(230, 230, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.chatbot-response {
  border-radius: 1rem;
  background-color: rgb(246, 246, 255);
}
.chatbot-response p {
  margin: 2rem;
  align-items: center;
}
.chatbot-request {
  margin-top: 1rem;
}
.chatbot-request form {
  display: flex;
}
.chatbot-request input {
  flex-grow: 1;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.chatbot-request label {
  width: auto;
  margin: auto 0;
}
.chatbot-request button {
  width: 100px;
  border-radius: 0.5rem;
  border: none;
}
