:root {
  --balck: rgb(40, 40, 40);
  --white: rgb(255, 255, 255);
  --grey: rgb(200, 200, 200);
  --blue: rgb(25, 130, 196);
  --green: #7cb518;
  --yellow: rgb(251, 176, 45);
  --darkgreen: rgb(92, 128, 1);
}

/* GLOBAL */
body {
  margin: 0;
}

/* HEADER */
.header {
  background-color: var(--blue);
  background-image: url("/images/paw.png");
  background-repeat: no-repeat;

  color: var(--white);
  padding: 1rem;
  text-align: center;
  text-shadow: 3px 3px 6px var(--balck);
}

.header h1 {
  font-size: 5rem;
}

/* MAIN */
.main {
  padding: 0 2rem 3rem 2rem;
}

/* INTRO */
.intro-container {
  margin: 2rem 0;
  line-height: 1.6rem;
}

/* CHARDS */
.card-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-left: -1rem;
}
.card {
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px 2px var(--grey);
  line-height: 1.2rem;
}
.card-title {
  padding: 0 1rem;
  margin: 1rem 0;
}
.card-image {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card-text {
  padding: 0 1rem;
  text-align: justify;
  margin: 1rem 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  padding: 2rem;
  color: var(--white);
  text-shadow: 3px 3px 6px var(--balck);
}

/* CHATBOT */
.chatbot-container {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.chatbot-response {
  border-radius: 1rem;
  background-color: rgb(246, 246, 255);
}
.chatbot-response p {
  margin: 2rem;
  align-items: center;
}
.chatbot-request {
  margin-top: 2rem;
}
.chatbot-request form {
  display: flex;
}
.chatbot-request input {
  flex-grow: 1;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
.chatbot-request label {
  width: auto;
  margin: auto 0;
  font-weight: 600;
  color: var(--white);
  text-shadow: 3px 3px 6px var(--balck);
}
.chatbot-request button {
  width: 100px;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
